.sorted {
    margin-right: 20px;
}

.bi-check-circle-fill {
    color: green;
}

.content-center {
    text-align: center;
}

.table-container {
    height    : 75vh;
    overflow-y: auto;
}

table {
    width: 100%;
}

thead {
    text-align      : center;
    position        : sticky;
    top             : 0;
    background-color: #f8f9fa;
    z-index         : 1;
    height          : 40px;
}

table,
th,
td {
    border         : 1px solid black;
    border-collapse: collapse;
}

td {
    padding-left: 10px;
}

button {
    margin-right: 5px;
}